.slider {
    margin-top: 50px;
    height: 350px;
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
    overflow-x: hidden;
}

.slide-track {
    width: calc(400px * 10);
    display: flex;
    gap: 15px;
    animation: scroll 20s linear infinite;
    justify-content: space-between;
}

.slide {
    /* width: 420px;
    height: 235px; */
    width: 192px;
    /* height: 192px; */
    height: 260px;
    display: grid;
    place-items: center;
    transition: 0.5s;
    cursor: pointer;
    background-color: transparent;
    border-radius: 10px;
}

@keyframes scroll {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(calc(-150px * 10));
    }
}